@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TacocaT is a palindrome coding challenge written in C# using a simple example of an MVC design pattern</p>
</div>
